body {

}
.navmenu {
	font-family: Montserrat;
	font-style: normal;
	font-weight: 400;
	text-decoration: none;
	list-style-type: none;
}

li {
	display: inline;
}

h1 {
	font-family: Playfair Display;
	font-style: normal;
	font-weight: 400;
}

span {
	font-family: Playfair Display;
	font-style: italic;
	font-weight: 400;
}

p {
    font-family: Montserrat;
    font-size: 24px;
}