body {
	font-family: Montserrat, "sans-serif";
}

li {
	display: inline;
}

a {
	text-decoration: none;
	color: white;
}

h1 {
	font-family: "Playfair Display", "sans-serif";
	font-style: normal;
	font-weight: 400;
	font-size: 44px; 
	color: #AE7C78;
}

h2 {
	font-family: "Playfair Display";
    font-style: normal;
    font-weight: bold;
    font-size: 36px;
    line-height: 48px;
	color: #AE7C78;
}

h3 {
    font-family: Montserrat;
    font-style: normal;
    font-weight: 500;
    font-size: 24px;
    line-height: 29px;
    color: #AE7C78;
}

h4 {
	font-family: Montserrat;
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 20px;
    color: #AE7C78;
}

h1>span {
	font-style: italic;
}

cite {
	font-family: Montserrat;
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 20px;
    color: #AE7C78;
}

p {
    font-family: Montserrat;
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 29px;
    color: #AE7C78;
}

dd, dt, dl {
	font-family: Montserrat;
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 29px;
	color: #AE7C78;
    text-align: left;
}

.main-header a {
    color: #AE7C78;
}

.contact {
	font-family: Montserrat;
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 29px;
    color: #AE7C78;
    background: #fff;
    box-shadow: 0px 4px 40px rgba(217, 217, 217, 0.3);
    border-radius: 12px;
}

.contact p, h2, h4 {
    color: #AE7C78;
}

.knopka1 {
	background:#D89999;
	color: white;
	border-radius: 40px;
	width: 285px;
	height: 80px;
	text-decoration: none;
	font-family: Montserrat;
    font-size: 16px;
    line-height: 20px;
    text-align: center;
}

.navmenu {
	font-family: Montserrat;
	font-style: normal;
	font-weight: 400;
	text-decoration: none;
	list-style-type: none;
    color: #AE7C78;
    text-align: center;
    list-style-type: none;
    padding-bottom: 0px;
    padding-top: 0px;
}

.nav-item {
    margin-left: 8px;
}

.nav-link {
    padding: 15px 90px 25px;
}

.navmenu a {
    color: #AE7C78;
}

.logo {
    padding-top: 5px;
}

.rozi {
    
}

.tulpa {

}

.advantages {
	display: flex;
}


.slider {
    margin-left: 300px;
}

.news p, h2 {
    color: #AE7C78;
}

.buketi {
    display: flex;
}

.ideal {
    display: flex;
}

.ideal1 {
    text-align: center;
}

.ideal p, h4 {
    color: #AE7C78;
}

.skidka {
    background: #AE7C78;
}

.skidka h1,p {
    color: #fff;
}

.otziv {
    display: flex;
    text-align: center;
    line-height: 20px;
    padding-left: 10px;
    padding-right: 10px;
}

.otziv p, cite {
    color: #AE7C78;
}

.border {
    border: 1px solid #AE7C78;
    box-sizing: border-box;
    margin-right: 120px;
    margin-left: 120px;
    margin-top: 120px;
    margin-bottom: 120px;
    padding-top: 10px;
    padding-right: 5px;
    padding-left: 5px;
    padding-bottom: 60px;
}

.titul {
    text-align: center;
}


#footer-content {
    background: #AE7C78;
}


.site-footer {
    background: #AE7C78;
    width: 1920px;
    height: 120px;
}
